
      <div *ngFor="let selectedTag of selectedTags">
        <span class="badge bg-primary" style="margin-right: 10px;">{{ selectedTag.tagName }}</span>
      </div>
<table class="table table-striped" id="tag-table">
  <tr>
    <td>
      <div class="form-check" *ngFor="let tag of tags" style="flex: 1 0 50%;">
        <input class="form-check-input" type="checkbox" id="{{ tag.tagId }}" name="option1" [checked]="markSelected(tag)" (click)="onCheckboxClick(tag)">
        <label class="form-check-label" for="{{ tag.tagId }}">{{ tag.tagName }}</label>
        <button class="btn btn-sm btn-sm" (click)="deleteTag(tag.tagId)">X</button>
      </div>
    </td>
  </tr>
</table>