<h1>{{ name }}</h1>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-4 p-3">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group col-5 mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.name.invalid
            }"
          />
          <div *ngIf="f.name.invalid" class="invalid-feedback">
            <div *ngIf="f.name.errors?.required">Name is required.</div>
            <div *ngIf="f.name.errors?.minlength">
              Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group col-5 mb-3">
          <label for="description">Description</label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
          />
        </div>

        <div class="form-group col-5 mb-3">
          <label for="dateFrozen">Date frozen/Use by date</label>
          <input
            type="date"
            formControlName="dateFrozen"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.dateFrozen.invalid && f.dateFrozen.touched
            }"
          />
          <div *ngIf="f.dateFrozen.errors?.pattern">
            Date must be in the format YYYY-MM-DD.
          </div>
        </div>
        <div class="row">
          <div class="col-3 mb-3">
            <label for="quantity">Quantity</label>
            <input
              type="text"
              formControlName="quantity"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.quantity.invalid
              }"
            />
            <div
              *ngIf="f.quantity.invalid && f.quantity"
              class="invalid-feedback"
            >
              <div *ngIf="f.quantity.errors?.required">
                Quantity is required.
              </div>
              <div *ngIf="f.quantity.errors?.minlength">
                Quantity must be at least 1 character long.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5 mb-3">
            <select
              name="select"
              class="form-control"
              formControlName="freezerLocation"
            >
              <option [ngValue]="null">Freezer location</option>
              @for (freezerLocation of itemLocations$ | async; track
              freezerLocation.name){
              <option>
                {{ freezerLocation.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-5 mb-3">
            <select
              name="select"
              class="form-control"
              formControlName="itemLocation"
            >
              <option [ngValue]="null">Item location</option>
              @for (itemLocation of itemLocationsByFreezerLocation; track
              itemLocation){
              <option>
                {{ itemLocation }}
              </option>
              }
            </select>
          </div>
        </div>
        <div class="form-group">
          <button
            [disabled]="loading"
            [disabled]="form.invalid"
            class="btn btn-primary"
          >
            <span
              *ngIf="submitting"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Save
          </button>
          <a routerLink="/foodItems" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4 p-3">
      <app-tag></app-tag>
    </div>
  </div>
</div>

<div *ngIf="loading" class="text-center m-5">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
