<h1>Food items</h1>
<div class="row">
  <a (click)="onAddClicked()" routerLink="add" class="col btn btn-sm btn-success ml-0 mx-2 mb-2">Add Food Items</a>
  <button type="button" class="col btn btn-sm btn-primary mx-2 mb-2" (click)="exportexcel()">Export to Excel</button>
  <button class="col btn btn-sm btn-primary mx-2 mb-2" (click)="toggleTags()">Toggle Tags</button>
  <button class="col btn btn-sm btn-primary mx-2 mb-2" (click)="toggleTagInput()">Add New Tag</button>
</div>

<div *ngIf="showTagInput" class="tag-box">
  <input type="text" [(ngModel)]="newTagName" placeholder="Add new tag" />
  <button (click)="addNewTag(newTagName)">Add</button>
</div>

<div class="row mx-2 mb-2">
  <input type="search" class="form-control" [(ngModel)]= "searchtext" placeholder="Filter by food name" aria-label="search"/>
</div>

<div style="display: flex; flex-wrap: wrap;">
  <select [(ngModel)]="selectedTag" (change)="onSelectFilterTag(selectedTag)">
    <option value="">Filter by tag</option>
    <option *ngFor="let tag of distinctTags" [ngValue]="tag">{{ tag.tagName }}</option>
  </select>
  <div *ngFor="let tag of selectedTags">
    <span class="badge bg-primary" style="margin-right: 10px;">{{tag.tagName}}</span>
  </div>
</div>

<table class="table table-striped" id="excel-table">
  <thead>
    <tr>
      <th style="width: 30%" scope="col" [appSort]="foodItems" data-order="desc" data-name="name">Name</th>
      <th style="width: 5%">Quantity</th>
      <th style="width: 15%" scope="col" [appSort]="foodItems" data-order="desc" data-name="dateFrozen">Date frozen</th>
      <th style="width: 15%" scope="col" [appSort]="foodItems" data-order="desc" data-name="freezerLocation">Freezer location</th>
      <th style="width: 15%" scope="col" [appSort]="foodItems" data-order="desc" data-name="itemLocation">Item location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let foodItem of filteredItems | filter:searchtext | filterByTag: selectedTag.tagId">
      <td>
        {{ foodItem.name }}
      </td>
      <td>{{ foodItem.quantity }}</td>
      <td>{{ foodItem.dateFrozen }}</td>
      <td>{{ foodItem.freezerLocation }}</td>
      <td>{{ foodItem.itemLocation }}</td>
      <td style="white-space: nowrap">
        <a (click)="onEditClicked(foodItem.foodItemId)"
          routerLink="edit/{{ foodItem.foodItemId }}"
          class="btn btn-sm btn-primary me-1"
          >Edit</a
        >
        <button
          (click)="deleteFoodItem(foodItem.foodItemId)"
          class="btn btn-sm btn-danger btn-delete-foodItem"
          [disabled]="foodItem.isDeleting"
        >
          <span
            *ngIf="foodItem.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngIf="!foodItem.isDeleting">Delete</span>
        </button>
        <button class="btn btn-sm btn-primary ms-1">
          {{foodItem.tags!.length > 0 ? foodItem.tags!.length : '' }}
        </button> 

        <div *ngIf="showTags" class="tag-box">
          <ul>
            <li *ngFor="let tag of foodItem.tags">{{tag?.tagName}}</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr *ngIf="!foodItems">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
